.form-control:focus {
  outline: none !important;
  border-color: transparent !important;
}
.bi-send::before {
  transform: rotate(45deg);
}

.chat-container {
  position: fixed;
  bottom: 45px;
  right: 45px;
  max-width: 0px;
  max-height: 0vh;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgb(186, 186, 186);
  background-color: #aaa439;
}

.active {
  /* max-width: 300px;
  max-height: 70vh; */
  animation: fadeIn 0.3s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.chat-header {
  background-color: #393276;
  color: white;
  text-align: center;
  padding: 5px;
}

.chat-body {
  width: 100%;
  height: 50vh;
  max-height: 50vh;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chat-body::-webkit-scrollbar {
  width: 10px;
}

.received-message,
.sent-message {
  position: relative;
  border: 0.5px lightgray;
  background-color: #fffaaa;
  border-radius: 5px;
  max-width: 70%;
  padding: 5px;
  margin: 5px;
}

.sent-message {
  align-self: flex-end;
  animation: send 0.3s ease-out forwards;
}

.received-message {
  opacity: 0;
  background-color: #837eb1;
  color: white;
  align-self: flex-start;
  animation: receive 0.3s ease-out forwards;
  animation-delay: 1s;
}

.chat-botton {
  position: fixed;
  right: 15px;
  bottom: 15px;
  box-shadow: 2px 2px 4px rgb(186, 186, 186);
  z-index: -1;
}

.chat-botton:hover {
  filter: brightness(90%);
}

.chat-botton .bi-send-plus-fill {
  color: white !important;
}

.chat-botton .i {
  padding: 20px;
  border-radius: 50%;
}

.btn-rounded {
  border-radius: 50%;
}
.btn {
  height: 50px;
  width: 50px;
  padding: 10px !important;
}
.btn-blue {
  background-color: #1f1959 !important;
}

/* Animation */
@keyframes fadeIn {
  0% {
    max-width: 0px;
    max-height: 0vh;
  }
  50% {
    max-width: 100px;
    max-height: 50vh;
  }
  100% {
    max-width: 300px;
    max-height: 70vh;
  }
}

@keyframes send {
  from {
    top: 100%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes receive {
  from {
    bottom: 100%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
